@font-face { 
  font-family: 'LatoBlack'; 
  src: url('.singolo/assets/Lato-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face { 
  font-family: 'LatoBold'; 
  src: url('.singolo/assets/Lato-Bold.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal;
}
@font-face { 
  font-family: 'LatoLight'; 
  src: url('.singolo/assets/Lato-Light.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal;
}
@font-face { 
  font-family: 'LatoRegular'; 
  src: url('.singolo/assets/Lato-Regular.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal;
}
@font-face { 
  font-family: 'LatoThin'; 
  src: url('.singolo/assets/Lato-Thin.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal;
}
